@import url('https://fonts.googleapis.com/css2?family=Asap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi');
@import url('https://fonts.googleapis.com/css2?family=Heebo');

html{
	height:100%;
	scroll-behavior: smooth;
	margin:0;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Heebo', sans-serif;
	height: 100%;
}

.wrapper {
  display: table;
  height: 100%; width: 100%;
}

nav{
	width: 100%;
	background: rgba(255,255,255,0.95);
	overflow: hidden;
	position: fixed;
	top: 0;
	display: flex;
    	justify-content: center;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

li{
	float: left;
}

a{
	padding: 20px;
	width: 100px;
	text-decoration: none;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

nav ul li a:hover{
	background: #111;
	color: #FFF;
}


h1{
	margin:100px;
	padding:0;
	text-align: center;
	font-size: 80px;
	color: #FFF;
}

h2{
	margin:100px;
	padding:0;
	text-align: center;
	font-size: 40px;
	color: #FFF;
}

#section1{
	height: 100%;
	min-height: 100%;
	height:auto !important;
	display:table;
	width:100%;
	background: #E56399;
}
#section2{
	height: 100%;
	min-height: 100%;
	height:auto !important;
	display:table;
	width:100%;
	background: #457b9d;
	color: #111;
}
#section3{
	height: 100%;
	min-height: 100%;
	height:auto !important;
	display:table;
	width:100%;
	background: #DE6E4B;
}
#section4{
	height: 100%;
	min-height: 100%;
	height:auto !important;
	display:table;
	width:100%;
	background: #7FD1B9;
}
#section5{
	height: 100%;
	min-height: 100%;
	height:auto !important;
	display:table;
	width:100%;
	background: #7A6563;
}
